In [1]:
import numpy as np
import pandas as pd

In [7]:
text = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""

In [8]:
text

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

In [9]:
text=text.split("\n")

In [10]:
text

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [17]:
text_pd=pd.Series(text)

In [18]:
text_pd

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [28]:
text_df=pd.DataFrame(text_pd, columns=["Stories"])

In [34]:
text_df=text_df[1:]

## Upper Lower Character Transformation

In [51]:
text_dfc=text_df.copy()
text_dfc

                                  Stories
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

To transform all characters to lower chars in every single row we used to apply() method of DataFrame object.

In [53]:
text_dfc["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split()))

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: Stories, dtype: object

In [54]:
text_dfc=pd.DataFrame(text_dfc["Stories"].apply(lambda x: " ".join(x.lower() for x in x.split())))

In [55]:
text_dfc

                                  Stories
1                a scandal in bohemia! 01
2                 the red-headed league,2
3                  a case, of identity 33
4            the boscombe valley mystery4
5                   the five orange pips1
6           the man with? the twisted lip
7     the adventure of the blue carbuncle
8      the adventure of the speckled band
9   the adventure of the engineer's thumb
10    the adventure of the noble bachelor
11     the adventure of the beryl coronet
12    the adventure of the copper beeches

## Removing Punctation

In [57]:
text_dfcp=text_dfc.copy()

In [58]:
text_dfcp["Stories"].str.replace("[[^\w\s]]","")

In [35]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\beytullah\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\beytullah\anaconda3\lib\site-packages (from textblob) (3.7)
Requirement already satisfied: regex>=2021.8.3 in c:\users\beytullah\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2022.3.15)
Requirement already satisfied: joblib in c:\users\beytullah\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.1.0)
Requirement already satisfied: tqdm in c:\users\beytullah\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.64.0)
Requirement already satisfied: click in c:\users\beytullah\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\users\beytullah\anaconda3\lib\site-packages (from click->nltk>=3.1->textblob) (0.4.4)

In [43]:
import textblob

In [44]:
from textblob import TextBlob

In [48]:
TextBlob(text_df["Stories"][1]).words

WordList(['A', 'Scandal', 'in', 'Bohemia', '01'])