In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from textblob import TextBlob

In [3]:
df=pd.read_csv("train.tsv",sep="\t")

In [15]:
df.head()

,PhraseId,SentenceId,Phrase,Sentiment
0,1,1,A series of escapades demonstrating the adage ...,1
1,2,1,A series of escapades demonstrating the adage ...,2
2,3,1,A series,2
3,4,1,A,2
4,5,1,series,2

In [16]:
df.tail(5)

        PhraseId  SentenceId                     Phrase  Sentiment
156055    156056        8544                  Hearst 's          2
156056    156057        8544  forced avuncular chortles          1
156057    156058        8544         avuncular chortles          3
156058    156059        8544                  avuncular          2
156059    156060        8544                   chortles          2

## Upper Lower Character Transformation

In [17]:
df_c=df.copy()

In [21]:
df_transformed=df_c["Phrase"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [22]:
df_transformed

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                            hearst 's
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

## Removing Punctation

In [28]:
import string

In [33]:

def remove_punctation(input_str:str)->str:

    translator=str.maketrans('','',string.punctuation)
    no_punct=input_str.translate(translator)
    return no_punct

In [44]:
df_transformed=pd.DataFrame(df_transformed,columns=["Phrase"])

In [45]:
df_transformed.head()

                                              Phrase
0  a series of escapades demonstrating the adage ...
1  a series of escapades demonstrating the adage ...
2                                           a series
3                                                  a
4                                             series

In [46]:

df_transformed=df_transformed["Phrase"].apply(remove_punctation)

In [47]:
df_transformed

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

## Removing Numbers

In [63]:
df_transformed=pd.DataFrame(df_transformed,columns=["Phrase"])
df_transformed.Phrase.str.replace("\d","")

C:\Users\Beytullah\AppData\Local\Temp\ipykernel_27844\2587333825.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df_transformed.Phrase.str.replace("\d","")

0         a series of escapades demonstrating the adage ...
1         a series of escapades demonstrating the adage ...
2                                                  a series
3                                                         a
4                                                    series
                                ...
156055                                             hearst s
156056                            forced avuncular chortles
156057                                   avuncular chortles
156058                                            avuncular
156059                                             chortles
Name: Phrase, Length: 156060, dtype: object

## Removing Stopwords

In [64]:
import nltk

In [65]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Beytullah\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [72]:
from nltk.corpus import stopwords

sw=stopwords.words("english")
df_transformed=pd.DataFrame(df_transformed,columns=["Phrase"])

In [73]:
df_transformed=df_transformed.Phrase.apply(lambda x: " ".join(x for x in x.split() if x not in sw))
df_transformed.head()

0    series escapades demonstrating adage good goos...
1      series escapades demonstrating adage good goose
2                                               series
3
4                                               series
Name: Phrase, dtype: object